spring:
  h2:
    console:
      enabled: true
      path: /h2-local-console
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:db
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        default_batch_fetch_size: 1000
        format_sql: ture
        show_sql: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


server:
  port: 8084